*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar {
   height: 95px;
}




.navbar-left {
    margin-left: 10% !important;
    margin-top: 1% !important;

}

.navbar-nav li a {
    font-family: 'Merriweather', serif;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 14px;
}



.navbar-fixed-top {
    border-color: transparent !important;
}


.navbar-brand img {
    width: 265px;
    margin-left: 10%;
}

.navbar-brand a {
    width: 265px;
}

.container-fluid .navbar-collapse {
    border: none !important;
}




.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#first {
   margin-top: 0%;
}


.slider {
   background: transparent url("../images/slider1.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 718px;
    padding-top: 10%
    
}

.wait {
    color: orange;
    font-size: 65px;
}

.orange a{
    color: orange;
    font-size: 65px;
}

.sqr-button a{
    border: 2px solid #ffca57;
    color: #ffca57;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 40px;
    min-width: 200px;
    letter-spacing: 2px;
    text-transform: uppercase;
    

    
}

.sqr-button2 a {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 40px;
    min-width: 200px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.sqr-button3 a {
    border: 2px solid #ffca57;
    color: #ffca57;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 40px;
    min-width: 200px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.sqr-button4 a {
    border: 2px solid #444;
    color: #444;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    line-height: 40px;
    min-width: 200px;
    letter-spacing: 2px;
    text-transform: uppercase;

}




.slogan h2, h1 {
    font-family: 'Merriweather', serif;
    color: white !important;
    text-transform: uppercase;
}

.collection {
    padding-top: 10%;
}

.collection h1 {
    font-family: 'Merriweather', serif;
    color: #333;
    text-transform: uppercase; 
    margin-top: 0px !important;
}

.summer {
    font-family: 'Titillium Web', sans-serif;
    font-size: 55px;
}

.col-sm-6 img {
    height: 360px;
}

.imageText  {
    position: absolute;
    top: 45%;
    left: 10%;
    width: 75%;
}

.imageText2 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 75%;
}

.imageText3 {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 80%;
    

}



.imageText h4,a{
    font-size: 34px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase; 
    text-align: center;
}

.imageText2 h4,a{
    font-size: 34px;
    color: #ffca57;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase; 
    text-align: center;
}

.imageText3 h4,a{
    font-size: 50px;
    color: #444;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase; 
    text-align: center;
}

.bestSeller {
    padding-top: 35%;
}
.bestSeller h2 {
    font-size: 50px;
    color: #444;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase; 
    text-align: center;  
}

.height426 img{
        height: 233px;
    }

    .price {
        color: #9f4604;
        font-family: 'Merriweather', serif;
        font-size: 25px;
        text-align: center;
        
    }  
    
    .boxWRibbon {
        width: auto;
    }
    
    .productCol {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .ribbon {
        position: absolute;
        top: 0%;
        left: 10%;
        width: 40px;
        background: #9f4604;
        height: 120px;
        
        color: #fff;
         display: inline-block;
        overflow: hidden;
        

    }
    
    .ribbonInner {
        padding-left: 10px;
        display: inline-block;
        white-space: nowrap;
        /* this is for shity "non IE" browsers
           that dosn't support writing-mode */
        -webkit-transform: translate(1.1em,0) rotate(90deg);
           -moz-transform: translate(1.1em,0) rotate(90deg);
             -o-transform: translate(1.1em,0) rotate(90deg);
                transform: translate(2.2em,0) rotate(90deg);
        -webkit-transform-origin: 0 0;
           -moz-transform-origin: 0 0;
             -o-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    
    .home-newsletter {
        padding: 80px 0;
        background: #f84e77;
        }

    .home-newsletter .single {
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    }
    .home-newsletter .single h2 {
        font-size: 22px;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        text-transform: uppercase;
        margin-bottom: 40px;
    }
    .home-newsletter .single .form-control {
        height: 50px;
        background: rgba(255, 255, 255, 0.6);
        border-color: transparent;
        border-radius: 20px 0 0 20px; 
    }
    .home-newsletter .single .form-control:focus {
        box-shadow: none;
        border-color: #243c4f;
    }
    .home-newsletter .single .btn {
        min-height: 50px; 
        border-radius: 0 20px 20px 0;
        background: #243c4f;
        color: #fff;
    }

    .contact {
        background-image: url(../images/tele.jpg);
        height: 100%;
    }
    
    
    @media screen and (min-width: 768px){
        .navbar-nav {    
            padding-top: 2%;
        }
        
        .navbar-nav li a:hover {
            border-bottom: 2px solid #999 !important;
            padding-bottom: 2px !important;
            }
    }
    
   
    
 


    
    
    
    
    
    

@media screen and (max-width: 1345px){
    
    .navbar-brand img {
        width: 180px;
        margin-left: 10%;
    }
    
    .navbar {
        height: 15%;
    }
    
    ul li a {
        color:  red;
    }
    
     .imageText h4,a{
        
        font-size: 22px;
    }
    
    
    .imageText2 h4,a{
        
        font-size: 22px;
    }
    
    
    
    
    .imageText3 h4,a{
        
        font-size: 22px;
    }
    
    .sqr-button2 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button3 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button4 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
}

@media screen and (max-width: 998px){
    
    .navbar-brand img {
        width: 180px;
        margin-left: 10%;
    }
    
    .navbar {
        height: 65px;
    }
    
    .imageText h4,a{
        
        font-size: 22px;
    }
    
    
    .imageText2 h4,a{
        
        font-size: 22px;
    }
    
    
    
    
    .imageText3 h4,a{
        
        font-size: 22px;
    }
    
    .sqr-button2 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button3 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button4 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .bestSeller {
    padding-top: 20%;
    }
    
    .price {
        font-size: 18px;
    }
    
     input {
        height: 40px;
        width: 96%;
    }
    
    .inputEmail {
        width: 70%;
    }
    
    
    

    
   
}

@media screen and (max-width: 766px){
    
    .navbar-brand img {
        width: 180px;
        margin-left: 10%;
    }
    
    .navbar-left {
        margin-top: 0px !important;
    }
    
    .navbar {
        height: 65px;
    }
    
    .navbar-collapse {
     box-shadow: inset 0 0px 0 rgba(255,255,255,.1) !important;
    }
    
   .container-fluid .navbar-collapse ul li a {
    background: #fff;
    text-align: left;
   }

    .container-fluid .navbar-collapse ul li a:hover {
        background: #999;
    }
    
    .slider {
        padding-top: 12%;
    }
    
    .imageText h4,a{
        
        font-size: 22px;
    }
    
    
    .imageText2 h4,a{
        
        font-size: 22px;
    }
    
    .imageText3 h4,a{
        
        font-size: 22px;
    }
    
    .sqr-button2 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button3 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button4 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .height426 {
        text-align: left;
    }
    
    .height426 img {
        height: 100%;
    }

    .ribbon {
        left: 5%;
    }
    
     input {
        height: 40px;
        width: 50%;
    }
    
    
   
}


    


@media screen and (max-width: 460px){
    
    .navbar-brand img {
        width: 150px;
        margin-left: 10%;
    }
    
    .container-fluid .navbar-collapse ul li a {
        background: #FFF;
        text-align: left;
   }
    
    .navbar {
        height: 65px;
        
    }
    
     .slider {
        padding-top: 22%;
    }
    
    .imageText h4,a{
        
        font-size: 20px;
    }
    
    .imageText2 h4,a{
        
        font-size: 20px;
    }
    
    
    .imageText3 h4,a{
        
        font-size: 20px;
    }
    
    .sqr-button2 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button3 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .sqr-button4 a{
        border: 2px solid #ffca57;
        color: #ffca57;
        display: inline-block;
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 15px;
        line-height: 30px;
        min-width: 160px;
        letter-spacing: 2px;
        text-transform: uppercase;

    }
    
    .five {
        top: 51% !important;
    }
    
    .seven {
        top:51.7% !important;
    }
    
     input {
        height: 40px;
        width: 30%;
    }
    
   
}




