*{
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar {
   height: 40% !important;
}

.navbar-left {
    margin-left: 10% !important;
    margin-top: 1% !important;

}

.navbar-nav li a {
    font-family: 'Merriweather', serif;
    color: #000 !important;
    text-transform: uppercase;
    font-size: 18px;
}

.navbar-fixed-top {
    border-color: transparent !important;
}


.navbar-brand img {
    width: 265px;
    margin-left: 10%;
}

.navbar-brand a {
    width: 265px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#first {
   margin-top: 5%;
}


.slider {
   background: transparent url("../images/slider1.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 718px;
}

.navbar-default {
    background:transparent !important;
}

.slogan h2, h1 {
    font-family: 'Merriweather', serif;
    color: white;
    text-transform: uppercase;
}

@media screen and (max-width: 1345px){
    
    .navbar-brand img {
        width: 180px;
        margin-left: 10%;
}
    
    ul li a {
        color:  red;
    }
}

@media screen and (max-width: 998px){
    
    .navbar-brand img {
        width: 140px;
        margin-left: 10%;
    }
    
   
}

@media screen and (max-width: 775px){
    
    .navbar-brand img {
        width: 100px;
        margin-left: 10%;
    }
    
   
}


@media screen and (max-width: 460px){
    
    .navbar-brand img {
        width: 70px;
        margin-left: 10%;
    }
    
   
}


